*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    height: 50px;
    background-color: antiquewhite;
}
body{
    background-color: aliceblue;
}

header{
    display: flex;
    align-items: center;
    margin-top: 35px;
}

header h1{
    font-size: 36px;
    margin: 18px;
}

.container{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input{
    padding: 4px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid ;
    margin-right: 6px;
    background-color: antiquewhite;
}

form button{
    background-color: rgb(38, 94, 38);
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(84, 221, 84);
}

table{
    width: 80%;
}

table th{
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 12px;
    font-size: 24px;
}

table td{
    padding: 12px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

table img{
    height: 25px;
    margin-left: 5px;
}

table button{
    cursor: pointer;
    border: none;
}